[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hnjzfwy
[access "refs/for/refs/*"]
	read = group user/hnjzfwy
	push = group user/hnjzfwy
	label-Code-Review = -2..+2 group user/hnjzfwy
	label-Verified = -1..+1 group user/hnjzfwy
	rebase = group user/hnjzfwy
	removeReviewer = group user/hnjzfwy
	submit = group user/hnjzfwy
[access "refs/heads/*"]
	read = group user/hnjzfwy
	create = group user/hnjzfwy
	push = +force group user/hnjzfwy
	pushMerge = group user/hnjzfwy
[access "refs/tags/*"]
	push = group user/hnjzfwy
	push = +force group user/hnjzfwy
